
*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
 height: 100%;
 margin: 0 auto;
 font-family: Roboto;
}
body{
    font-family: Roboto;
    margin: 0 auto; 
}
.content {
    margin: 0, auto;
    width: 1280px;
    background:#fff;
}
a {
 text-decoration: none;
 color: #485863;
}
li:hover{
    cursor: pointer;
}

.a-logo {
 font-size: 80px;
 line-height: 94px;
 margin-top: 63px;
 margin-left: 98px; ;
 color: #000000;
 margin-bottom: 38px;
}

.nav {
    width: 1280px;
    height: 70px;
    list-style: none;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    margin-left: 100px;
    margin-bottom: 50px;
    background-color: #35444F;
   font-size: 24px;
   line-height: 66px;
   color: #FFFFFF;
}

.nav_item {
    padding-left: 10px;
    border: 1px solid #35444F;
    border-left: 1px solid white;
    height: 70px;
    margin: auto;
}
.border_right {
    border-right:1px solid white;
    padding-right:10px;
}
.nav_hover:hover {
    background: #222F3A;
    padding: 20px 40px;
    color: black;
}
.nav_hover {
    color: white !important;
}

.aside {
    width: 345px;
    height: 400px;
    border: 1px solid grey;
    margin-left: 100px;
    list-style-type: none;
    color: #485863;
    font-size: 27px;
   line-height: 27px;
   float: left;
}

.aside_list {
    list-style: none;  
}
.aside_item {
    padding: 20px 70px 20px 30px;
}

.aside_hover:hover {
    border: 1px solid grey;
    background-color: grey;
    color: black;
    padding: 10px 20px;
    width:60px;
    height:30px;
}
main{
    min-width: 890px;
}
.main {
    display:block;
    justify-content: right;
    align-items:flex-end;
    height: 830px;
    width: 885px;
    margin:auto;
    margin-left: 500px;
}
.img {
    margin-left: 270px;
    margin-bottom:37px;
   /* background-image: url(./img/top-img-fon.png); */
   background-repeat:no-repeat;
   background-size:contain;
   width: 330px;
   height: 430px;
   color: #FFFFFF;
   background: border 1px solid grey;
} 
.img:hover {
    width: 350px;
    height: 450px;
    flex: 0.1 0.1 400px;
}
p {
  font-size: 18px;
  line-height: 24px;
}
.text {
    display: flex;
    justify-content: space-between;
}
.item-1 {
    margin-bottom: 30px;
}
.item-2{
    margin-bottom: 50px;
}

.footer {
    width: 1280px;
    height: 70px;
    letter-spacing: 1px;
    border: 1px solid black; 
    background-color:  rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-left: 100px;
    margin-bottom: 20px;
}
.footer_list {
    display: flex;
    justify-content: space-between;
   align-items:center;
   font-size: 28px;
   line-height: 28px;
   color: #0C1927;
   box-sizing: border-box;
   width: 875px;
   height: 30px;
   margin: auto;
}
.footer_author {
  color: #010101;
  font-size: 24px;
  line-height: 24px;
  box-sizing: border-box;
  width: 210px;
  height: 60px;
  display: flex;
  align-items: center;
}
.footer_hover:hover {
    color: rgb(70, 95, 238);
    text-decoration: underline;
}

.light_theme .aside{
    background-color: rgb(99, 52, 52);
}

.light_theme li, 
.light_theme .nav,
.light_theme footer{
    background-color: rgba(224, 137, 137, 0.485);
    color: #000000;
    border-radius: 5px;
    border:hidden;
}
.light_theme li:hover{
        background-color: rgb(242, 74, 74);
}
.light_theme .a-logo{
    color: rgb(242, 74, 74);
}